@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.auth-bg-gradient-light {
  background-image: linear-gradient(45deg, transparent, #bd4bee2b, #32f5f542, transparent, transparent, transparent, #7d46ea18, #299bf945, #27f9f534, transparent );
  background-repeat: repeat;
}

.auth-bg-gradient-dark {
  background-image: linear-gradient(45deg, transparent, #00d0ff1f, #006aff1f, transparent, transparent, transparent, transparent, #00d0ff1f, #006aff1f, transparent );
  background-repeat: repeat;
}

.auth-text-gradient {
  background: linear-gradient(45deg, #70dbdd, #28b4ff, #96d1ff);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 4s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* 
.auth-headText {
 @apply md:text-5xl 2xl:text-6xl font-extrabold whitespace-nowrap
}

.auth-subText {
  @apply lg:text-lg font-semibold text-center
} */

.flex-center {
  @apply flex justify-center items-center
}

.flex-between {
  @apply flex justify-between items-center
}
